@model DoVuiHaiNao.Models.MemberViewModels.UserProfileViewModel
@{
    DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel sidebar = ViewData["sidebar"] as DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel;
}
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Trang cá nhân : @Model.FullName</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <a asp-controller="Member" asp-action="Index">Thành viên</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Trang cá nhân thành viên: @Model.FullName</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="user-profile">
                    <div class="col-md-12">
                        <div class="page-content">
                            <h2>Thông tin về @Model.FullName</h2>
                            <div class="user-profile-img"><img asp-append-version="true" width="60" height="60" src="@Model.Image" alt="@Model.FullName"></div>
                            <div class="ul_list ul_list-icon-ok about-user">
                                <ul>
                                    <li><i class="icon-plus"></i>Ngày đăng ký : <span>@Model.CreateRegister</span></li>
                                    <li><i class="icon-calendar"></i>Sinh nhật : <span>@Model.Birthday</span></li>
                                    <li><i class="icon-globe"></i>Website : <a target="_blank" rel="nofollow" href="@Model.Website">xem</a></li>
                                </ul>
                            </div>
                            <p>@Model.InfoShort.</p>
                            <div class="clearfix"></div>
                            <span class="user-follow-me">Theo dõi tôi qua</span>
                            <a href="@Model.FaceboookURL" rel="nofollow" original-title="Facebook" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239">
                                        <i class="social_icon-facebook"></i>
                                    </span>
                                </span>
                            </a>
                            @if (!String.IsNullOrEmpty(Model.Twitter))
                            {
                                <a href="@Model.Twitter" rel="nofollow" original-title="Twitter" class="tooltip-n">
                                    <span class="icon_i">
                                        <span class="icon_square" icon_size="30" span_bg="#00baf0" span_hover="#2f3239">
                                            <i class="social_icon-twitter"></i>
                                        </span>
                                    </span>
                                </a>
                            }
                            @if (!String.IsNullOrEmpty(Model.Linkedin))
                            {
                                <a href="@Model.Linkedin" rel="nofollow" original-title="Linkedin" class="tooltip-n">
                                    <span class="icon_i">
                                        <span class="icon_square" icon_size="30" span_bg="#006599" span_hover="#2f3239">
                                            <i class="social_icon-linkedin"></i>
                                        </span>
                                    </span>
                                </a>
                            }
                            @if (!String.IsNullOrEmpty(Model.GooglePlus))
                            {
                                <a href="@Model.GooglePlus" rel="nofollow" original-title="Google plus" class="tooltip-n">
                                    <span class="icon_i">
                                        <span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239">
                                            <i class="social_icon-gplus"></i>
                                        </span>
                                    </span>
                                </a>
                            }
                            @if (!String.IsNullOrEmpty(Model.Email))
                            {
                                <a href="@Model.Email" rel="nofollow" original-title="Email" class="tooltip-n">
                                    <span class="icon_i">
                                        <span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239">
                                            <i class="social_icon-email"></i>
                                        </span>
                                    </span>
                                </a>
                            }
                        </div><!-- End page-content -->
                    </div><!-- End col-md-12 -->
                    <div class="col-md-12">
                        <div class="page-content page-content-user-profile">
                            <div class="user-profile-widget">
                                <h2>Thành tích</h2>
                                <div class="ul_list ul_list-icon-ok">
                                    <ul>
                                        <li><i class="icon-question-sign"></i><a asp-controller="Member" asp-action="UserHistoryListSinglePuzzle" asp-route-slug="@Model.Slug">Câu đố mỗi ngày<span> ( <span>@Model.SinglePuzzleTotal</span> ) </span></a></li>
                                        <li><i class="icon-asterisk"></i><a asp-controller="Member" asp-action="UserHistoryListMultiPuzzle" asp-route-slug="@Model.Slug">Câu đố đặc biệt<span> ( <span>@Model.MultiPuzzleTotal</span> ) </span></a></li>
                                        @*<li><i class="icon-comment"></i><a href="user_answers.html">Answers<span> ( <span>10</span> ) </span></a></li>*@
                                        @*<li><i class="icon-star"></i><a href="user_favorite_questions.html">Favorite Questions<span> ( <span>3</span> ) </span></a></li>*@
                                        <li><i class="icon-heart"></i><a href="user_points.html">Điểm<span> ( <span>@Model.Points</span> ) </span></a></li>

                                    </ul>
                                </div>
                            </div><!-- End user-profile-widget -->
                        </div><!-- End page-content -->
                    </div><!-- End col-md-12 -->
                </div><!-- End user-profile -->
            </div><!-- End row -->
            <div class="clearfix"></div>
            <div class="page-content">
                <div class="user-stats">
                    <div class="user-stats-head">
                        <div class="block-stats-1 stats-head">#</div>
                        <div class="block-stats-2 stats-head">Hôm nay</div>
                        <div class="block-stats-3 stats-head">Trong tháng</div>
                        <div class="block-stats-4 stats-head">Tổng</div>
                    </div>
                    <div class="user-stats-item">
                        <div class="block-stats-1">Câu đố mỗi ngày</div>
                        <div class="block-stats-2">@Model.SinglePuzzleToday</div>
                        <div class="block-stats-3">@Model.SinglePuzzleMonth</div>
                        <div class="block-stats-4">@Model.SinglePuzzleTotal</div>
                    </div>
                    <div class="user-stats-item">
                        <div class="block-stats-1">Câu đố đặc biệt</div>
                        <div class="block-stats-2">@Model.MultiPuzzleToday</div>
                        <div class="block-stats-3">@Model.MultiPuzzleMonth</div>
                        <div class="block-stats-4">@Model.MultiPuzzleTotal</div>
                    </div>
                    @*<div class="user-stats-item user-stats-item-last">
                            <div class="block-stats-1">Visitors</div>
                            <div class="block-stats-2">100</div>
                            <div class="block-stats-3">3000</div>
                            <div class="block-stats-4">5000</div>
                        </div>*@
                </div><!-- End user-stats -->
            </div><!-- End page-content -->
        </div><!-- End main -->
        <aside class="col-md-3 sidebar">
            @await Html.PartialAsync("_SidebarPartial", sidebar)
        </aside><!-- End sidebar -->
    </div><!-- End row -->
</section><!-- End container -->
