@model DoVuiHaiNao.Models.MemberViewModels.ListTopMemberViewModel
@{
    DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel sidebar = ViewData["sidebar"] as DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel;
}
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Câu đố đặc biệt</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Xếp hạng giải đố</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            @foreach (var item in Model.List)
            {
                <div class="about-author clearfix">
                    <div class="author-image">
                        <a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Slug" original-title="@item.FullName" class="tooltip-n">
                            <img alt="@item.FullName" src="@item.Image" class="hoverZoomLink">
                        </a>
                    </div>
                    <div class="author-bio">
                        <h4>
                            <a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Slug">@item.FullName</a>
                            @*<span class="badge-span">Người mới</span>*@
                        </h4>
                        <p>Điểm: @item.Score</p>
                        @*<div class="clearfix"></div>
                            <br>*@
                        <span class="user-follow-me">Theo dõi tôi</span>
                        <a href="@item.Facebook" original-title="Facebook" class="tooltip-n">
                            <span class="icon_i">
                                <span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239" style="height: 30px; width: 30px; font-size: 15px; line-height: 30px; background-color: rgb(59, 89, 151); border-style: solid;">
                                    <i class="social_icon-facebook"></i>
                                </span>
                            </span>
                        </a>
                        @*<a href="https://plus.google.com/u/0/105272160006102723939/posts" original-title="Google plus" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239" style="height: 30px; width: 30px; font-size: 15px; line-height: 30px; background-color: rgb(196, 60, 44); border-style: solid;">
                                        <i class="social_icon-gplus"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="https://www.youtube.com/channel/UCsDhTk60PksWz2uvgZ64jVg" original-title="Youtube" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#ef4e41" span_hover="#2f3239" style="height: 30px; width: 30px; font-size: 15px; line-height: 30px; background-color: rgb(239, 78, 65); border-style: solid;">
                                        <i class="social_icon-youtube"></i>
                                    </span>
                                </span>
                            </a>*@
                    </div>
                </div>
            }
            <div class="pagination">
                @*@{
                        int Min = (@Model.PageIndex - 1) * @Model.PageSize;
                        int Max = (@Model.PageIndex) * @Model.PageSize;
                    }
                    Hiển thị @Min to @Max trong @Model.Count phần tử*@
                <style>
                    .current {
                        background-color: #3498db !important;
                        color: white !important;
                    }
                </style>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "none" : "block";
                    var nextDisabled = !Model.HasNextPage ? "none" : "block";
                }
                @if (Model.PageIndex - 1 > 0)
                {
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(Model.PageIndex - 1)"
                       style="display: @prevDisabled"><i class="icon-angle-left"></i></a>
                }
                @if (Model.PageIndex - 2 > 0)
                {
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(Model.PageIndex - 2)"
                       style="display: @prevDisabled">@(Model.PageIndex - 2)</a>
                }
                @if (Model.PageIndex - 1 > 0)
                {
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(Model.PageIndex - 1)"
                       style="display: @prevDisabled">@(Model.PageIndex - 1)</a>
                }

                <a asp-action="ListSinglePuzzle"
                   asp-route-page="@(Model.PageIndex)"
                   class="current">@Model.PageIndex</a>
                <a asp-action="ListSinglePuzzle"
                   asp-route-page="@(Model.PageIndex + 1)"
                   style="display: @nextDisabled">@(Model.PageIndex + 1)</a>
                <a asp-action="ListSinglePuzzle"
                   asp-route-page="@(Model.PageIndex + 2)"
                   style="display: @nextDisabled">@(Model.PageIndex + 2)</a>
                @*<span>...</span>
                    <a href="#">11</a>
                    <a href="#">12</a>
                    <a href="#">13</a>*@
                <a asp-action="ListSinglePuzzle"
                   asp-route-page="@(Model.PageIndex + 1)"
                   style="display: @nextDisabled">
                    <i class="icon-angle-right"></i>
                </a>
            </div><!-- End pagination -->
        </div><!-- End main -->
        <aside class="col-md-3 sidebar">
            @await Html.PartialAsync("_SidebarPartial", sidebar)
        </aside><!-- End sidebar -->
    </div><!-- End row -->
</section><!-- End container -->