@model DoVuiHaiNao.Models.MemberViewModels.UserHistorySinglePuzzleViewModel
@{
    DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel sidebar = ViewData["sidebar"] as DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel;
}
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Trang cá nhân : @Html.Raw(Model.FullName)</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <a asp-controller="Member" asp-action="Index">Thành viên</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Trang cá nhân thành viên: @Html.Raw(Model.FullName)</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="user-profile">
                    <div class="col-md-12">
                        <div class="page-content">
                            <h2>Thông tin về @Html.Raw(Model.FullName)</h2>
                            <div class="user-profile-img"><img asp-append-version="true" width="60" height="60" src="@Model.Image" alt="@Model.FullName"></div>
                            <div class="ul_list ul_list-icon-ok about-user">
                                <ul>
                                    <li><i class="icon-plus"></i>Ngày đăng ký : <span>@Html.Raw(Model.CreateRegister)</span></li>
                                    <li><i class="icon-calendar"></i>Sinh nhật : <span>@Html.Raw(Model.Birthday)</span></li>
                                    <li><i class="icon-globe"></i>Website : <a target="_blank" rel="nofollow" href="@Model.Website">@Html.Raw(Model.Website)</a></li>
                                </ul>
                            </div>
                            <p>@Html.Raw(Model.InfoShort).</p>
                            <div class="clearfix"></div>
                            <span class="user-follow-me">Theo dõi tôi qua</span>
                            <a href="@Model.FaceboookURL" rel="nofollow" original-title="Facebook" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239">
                                        <i class="social_icon-facebook"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="@Model.Twitter" rel="nofollow" original-title="Twitter" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#00baf0" span_hover="#2f3239">
                                        <i class="social_icon-twitter"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="@Model.Linkedin" rel="nofollow" original-title="Linkedin" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#006599" span_hover="#2f3239">
                                        <i class="social_icon-linkedin"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="@Model.GooglePlus" rel="nofollow" original-title="Google plus" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239">
                                        <i class="social_icon-gplus"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="@Model.Email" rel="nofollow" original-title="Email" class="tooltip-n">
                                <span class="icon_i">
                                    <span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239">
                                        <i class="social_icon-email"></i>
                                    </span>
                                </span>
                            </a>
                        </div><!-- End page-content -->
                    </div><!-- End col-md-12 -->
                    <div class="col-md-12">
                        <div class="page-content page-content-user-profile">
                            <div class="user-profile-widget">
                                <h2>Thành tích</h2>
                                <div class="ul_list ul_list-icon-ok">
                                    <ul>
                                        <li><i class="icon-question-sign"></i><a href="#">Câu đố mỗi ngày<span> ( <span>@Model.SinglePuzzleTotal</span> ) </span></a></li>
                                        <li><i class="icon-asterisk"></i>Câu đố đặc biệt<span> ( <span>@Model.MultiPuzzleTotal</span> ) </span></li>
                                        @*<li><i class="icon-comment"></i><a href="user_answers.html">Answers<span> ( <span>10</span> ) </span></a></li>*@
                                        @*<li><i class="icon-star"></i><a href="user_favorite_questions.html">Favorite Questions<span> ( <span>3</span> ) </span></a></li>*@
                                        <li><i class="icon-heart"></i><a href="#">Điểm<span> ( <span>@Model.Points</span> ) </span></a></li>

                                    </ul>
                                </div>
                            </div><!-- End user-profile-widget -->
                        </div><!-- End page-content -->
                    </div><!-- End col-md-12 -->
                </div><!-- End user-profile -->
            </div><!-- End row -->
            <div class="clearfix"></div>
            <div class="page-content page-content-user">
                <div class="user-questions">
                    @if (!Model.ListSinglePuzzle.Any())
                    {
                        <h3>Chưa có dữ liệu</h3>
                    }
                    @foreach (var item in Model.ListSinglePuzzle)
                    {
                    <article class="question user-question">
                        <h3>
                            <a asp-controller="Puzzle" asp-action="SingleSinglePuzzle" asp-route-slug="@item.Slug">@Html.Raw(item.Title)</a>
                        </h3>
                        <div class="question-type-main"><i class="icon-question-sign"></i>Câu đố</div>
                        <div class="question-content">
                            <div class="question-bottom">
                                @*<div class="question-answered"><i class="icon-ok"></i>in progress</div>*@
                                @*<span class="question-favorite"><i class="icon-star"></i>5</span>*@
                                <span class="question-category"><a asp-controller="Puzzle" asp-action="ListSinglePuzzle"><i class="icon-folder-close"></i>Câu đố mỗi ngày</a></span>
                                <span class="question-date"><i class="icon-time"></i>@Html.Raw(item.ShowTime)</span>
                                @*<span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answers</a></span>*@
                                @*<a class="question-reply" href="#"><i class="icon-reply"></i>Reply</a>*@
                                <span class="question-view"><i class="icon-user"></i>@item.Views lượt xem</span>
                            </div>
                        </div>
                    </article>
                    }
                </div>
            </div>

            <div class="height_20"></div>

            <div class="pagination">
                @*@{
                int Min = (@Model.PageIndex - 1) * @Model.PageSize;
                int Max = (@Model.PageIndex) * @Model.PageSize;
            }
            Hiển thị @Min to @Max trong @Model.Count phần tử*@
                <style>
                    .current {
                        background-color: #3498db !important;
                        color: white !important;
                    }
                </style>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "none" : "block";
                    var nextDisabled = !Model.HasNextPage ? "none" : "block";
                }
                @if (Model.PageIndex - 1 > 0)
                {
                    <a asp-action="UserHistoryListSinglePuzzle"
                       asp-route-slug="@Model.Slug"
                       asp-route-page="@(Model.PageIndex - 1)"
                       style="display: @prevDisabled"><i class="icon-angle-left"></i></a>
                }
                @if (Model.PageIndex - 2 > 0)
                {
                    <a asp-action="UserHistoryListSinglePuzzle"
                       asp-route-slug="@Model.Slug"
                       asp-route-page="@(Model.PageIndex - 2)"
                       style="display: @prevDisabled">@(Model.PageIndex - 2)</a>
                }
                @if (Model.PageIndex - 1 > 0)
                {
                    <a asp-action="UserHistoryListSinglePuzzle"
                       asp-route-slug="@Model.Slug"
                       asp-route-page="@(Model.PageIndex - 1)"
                       style="display: @prevDisabled">@(Model.PageIndex - 1)</a>
                }

                <a asp-action="UserHistoryListSinglePuzzle"
                   asp-route-slug="@Model.Slug"
                   asp-route-page="@(Model.PageIndex)"
                   class="current">@Model.PageIndex</a>
                <a asp-action="UserHistoryListSinglePuzzle"
                   asp-route-slug="@Model.Slug"
                   asp-route-page="@(Model.PageIndex + 1)"
                   style="display: @nextDisabled">@(Model.PageIndex + 1)</a>
                <a asp-action="UserHistoryListSinglePuzzle"
                   asp-route-slug="@Model.Slug"
                   asp-route-page="@(Model.PageIndex + 2)"
                   style="display: @nextDisabled">@(Model.PageIndex + 2)</a>
                @*<span>...</span>
            <a href="#">11</a>
            <a href="#">12</a>
            <a href="#">13</a>*@
                <a asp-action="ListSinglePuzzle"
                   asp-route-page="@(Model.PageIndex + 1)"
                   style="display: @nextDisabled">
                    <i class="icon-angle-right"></i>
                </a>
            </div><!-- End pagination -->
            <!-- if no questions
    <p>No questions yet</p>
    -->

        </div><!-- End main -->
        <aside class="col-md-3 sidebar">
            @await Html.PartialAsync("_SidebarPartial", sidebar)
        </aside><!-- End sidebar -->
    </div><!-- End row -->
</section><!-- End container -->
