@{
    DVMN.Models.SearchViewModel.SearchViewModel model = ViewData["listSinglePuzzle"] as DVMN.Models.SearchViewModel.SearchViewModel;
    DVMN.Models.SidebarViewModels.AllSidebarViewModel sidebar = ViewData["sidebar"] as DVMN.Models.SidebarViewModels.AllSidebarViewModel;
    ViewData["Title"] = "Tìm kiếm câu đố | Dovuihainao.Net";
    ViewData["Desciption"] = "Tìm kiếm tất cả những câu đố vui mẹo hay, những câu đố vui hại não vừa khó và hay nhất có đáp án giúp bạn có thời gian giải trí mỗi ngày";
}
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Kết quả tìm kiếm: @ViewData["Search"]</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Kết quả tìm kiếm: @ViewData["Search"]</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            @if (!model.List.Any())
            {
                <h2>Không tìm thấy. Xin vui lòng tìm với từ khóa khác</h2>
            }

            @foreach (var item in model.List)
            {
                if (item.ImageID.HasValue)
                {
                    if (item.IsMultiPuzzle)
                    {
                        <article class="post blog_2 clearfix">
                            <div class="post-inner">
                                <h2 class="post-title"><span class="post-type"><i class="icon-picture"></i></span><a asp-controller="puzzle" asp-action="SingleMultiPuzzle" asp-route-slug="@item.Slug">@item.Title</a></h2>
                                <div class="post-img"><a asp-controller="puzzle" asp-action="SingleMultiPuzzle" asp-route-slug="@item.Slug"><img asp-append-version="true" src="@item.Image.PicFull" alt="@item.Image.ALT" title="@item.Image.Title"></a></div>
                                <div class="post-meta">
                                    <span class="meta-author"><i class="icon-user"></i><a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Author.Slug">@item.Author.FullName</a></span>
                                    <span class="meta-date"><i class="icon-time"></i>@item.ShowTime</span>
                                    <span class="meta-categories"><i class="icon-suitcase"></i><a asp-controller="puzzle" asp-action="ListMultiPuzzle">Câu đố đặc biệt</a></span>
                                    <span class="meta-comment"><i class="icon-thumbs-up"></i><a href="#">@item.Like lượt thích</a></span>
                                </div>
                                <div class="post-content">
                                    <p>@item.Description</p>
                                    <a asp-controller="puzzle" asp-action="SingleMultiPuzzle" asp-route-slug="@item.Slug" class="post-read-more button color small">Giải đố</a>
                                </div><!-- End post-content -->
                            </div><!-- End post-inner -->
                        </article>
                    }
                    else
                    {
                        <article class="post blog_2 clearfix">
                            <div class="post-inner">
                                <h2 class="post-title"><span class="post-type"><i class="icon-picture"></i></span><a asp-controller="puzzle" asp-action="SingleSinglePuzzle" asp-route-slug="@item.Slug">@item.Title</a></h2>
                                <div class="post-img"><a asp-controller="puzzle" asp-action="SingleSinglePuzzle" asp-route-slug="@item.Slug"><img asp-append-version="true" src="@item.Image.PicFull" alt="@item.Image.ALT" title="@item.Image.Title"></a></div>
                                <div class="post-meta">
                                    <span class="meta-author"><i class="icon-user"></i><a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Author.Slug">@item.Author.FullName</a></span>
                                    <span class="meta-date"><i class="icon-time"></i>@item.ShowTime</span>
                                    <span class="meta-categories"><i class="icon-suitcase"></i><a asp-controller="puzzle" asp-action="ListSinglePuzzle">Câu đố mỗi ngày</a></span>
                                    <span class="meta-comment"><i class="icon-thumbs-up"></i><a href="#">@item.Like lượt thích</a></span>
                                </div>
                                <div class="post-content">
                                    <p>@item.Description</p>
                                    <a asp-controller="puzzle" asp-action="SingleSinglePuzzle" asp-route-slug="@item.Slug" class="post-read-more button color small">Giải đố</a>
                                </div><!-- End post-content -->
                            </div><!-- End post-inner -->
                        </article>
                    }
                }
                else
                {
                    if (item.IsMultiPuzzle)
                    {
                        <article class="question question-type-normal">
                            <h2>
                                <a asp-controller="puzzle" asp-action="SingleMultiPuzzle" asp-route-slug="@item.Slug">@item.Title</a>
                            </h2>
                            @*<a class="question-report" href="#">Report</a>
                                <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>*@
                            <div class="question-author">
                                <a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Author.Slug" original-title="@item.Author.FullName" class="question-author-img tooltip-n">
                                    <span></span><img alt="@item.Author.FullName" src="@item.Author.Picture65x65">
                                </a>
                            </div>
                            <div class="question-inner">
                                <div class="clearfix"></div>
                                <p class="question-desc">@item.Description</p>
                                <div class="question-details">
                                    @*<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>*@
                                    @*<span class="question-favorite"><i class="icon-star"></i>5</span>*@
                                </div>
                                <span class="question-category"><a asp-controller="puzzle" asp-action="ListMultiPuzzle"><i class="icon-folder-close"></i>Câu đố đặc biệt</a></span>
                                <span class="question-date"><i class="icon-time"></i>@item.ShowTime</span>
                                <span class="question-comment"><a href="#"><i class="icon-thumbs-up"></i>@item.Like lượt thích</a></span>
                                <span class="question-view"><i class="icon-user"></i>@item.Views lượt xem</span>
                                <div class="clearfix"></div>
                            </div>
                        </article>

                    }
                    else
                    {
                        <article class="question question-type-normal">
                            <h2>
                                <a asp-controller="puzzle" asp-action="SingleSinglePuzzle" asp-route-slug="@item.Slug">@item.Title</a>
                            </h2>
                            @*<a class="question-report" href="#">Report</a>
                                <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>*@
                            <div class="question-author">
                                <a asp-controller="Member" asp-action="Details" asp-route-slug="@item.Author.Slug" original-title="@item.Author.FullName" class="question-author-img tooltip-n">
                                    <span></span><img alt="@item.Author.FullName" src="@item.Author.Picture65x65">
                                </a>
                            </div>
                            <div class="question-inner">
                                <div class="clearfix"></div>
                                <p class="question-desc">@item.Description</p>
                                <div class="question-details">
                                    @*<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>*@
                                    @*<span class="question-favorite"><i class="icon-star"></i>5</span>*@
                                </div>
                                <span class="question-category"><a asp-controller="puzzle" asp-action="ListSinglePuzzle"><i class="icon-folder-close"></i>Câu đố mỗi ngày</a></span>
                                <span class="question-date"><i class="icon-time"></i>@item.ShowTime</span>
                                <span class="question-comment"><a href="#"><i class="icon-thumbs-up"></i>@item.Like lượt thích</a></span>
                                <span class="question-view"><i class="icon-user"></i>@item.Views lượt xem</span>
                                <div class="clearfix"></div>
                            </div>
                        </article>

                    }
                }

            }
            @if (model.List.Any())
            {

                int Min = (model.PageIndex - 1) * model.PageSize;
                int Max = (model.PageIndex) * model.PageSize;
                int Count = model.List.Count();
                <label class="pull-left">Hiển thị @Min to @Max trong @Count phần tử </label>
                <div class="pagination">

                    <style>
                        .current {
                            background-color: #3498db !important;
                            color: white !important;
                        }
                    </style>
                    @{
                        var prevDisabled = !model.HasPreviousPage ? "none" : "block";
                        var nextDisabled = !model.HasNextPage ? "none" : "block";
                    }
                    @if (model.PageIndex - 1 > 0)
                {
            <a asp-action="ListSinglePuzzle"
               asp-route-page="@(model.PageIndex - 1)"
               style="display: @prevDisabled"><i class="icon-angle-left"></i></a>
                }
                    @if (model.PageIndex - 2 > 0)
                {
            <a asp-action="ListSinglePuzzle"
               asp-route-page="@(model.PageIndex - 2)"
               style="display: @prevDisabled">@(model.PageIndex - 2)</a>
                }
                    @if (model.PageIndex - 1 > 0)
                {
            <a asp-action="ListSinglePuzzle"
               asp-route-page="@(model.PageIndex - 1)"
               style="display: @prevDisabled">@(model.PageIndex - 1)</a>
                }

                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(model.PageIndex)"
                       class="current">@(model.PageIndex)</a>
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(model.PageIndex + 1)"
                       style="display: @nextDisabled">@(model.PageIndex + 1)</a>
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(model.PageIndex + 2)"
                       style="display: @nextDisabled">@(model.PageIndex + 2)</a>
                    @*<span>...</span>
                        <a href="#">11</a>
                        <a href="#">12</a>
                        <a href="#">13</a>*@
                    <a asp-action="ListSinglePuzzle"
                       asp-route-page="@(model.PageIndex + 1)"
                       style="display: @nextDisabled">
                        <i class="icon-angle-right"></i>
                    </a>
                </div><!-- End pagination -->
                        }
        </div>


        <aside class="col-md-3 sidebar">
            @await Html.PartialAsync("_SidebarPartial", sidebar)
        </aside>
    </div>
</section>