@model DoVuiHaiNao.Models.PuzzleViewModels.SingleMultiPuzzleViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Member> signInManager
@{
    if (Model.Title.Length > 150)
    {
        ViewData["Title"] = Model.Title;
    }
    else
    {
        ViewData["Title"] = Model.Title + "| Dovuihainao.Net";
    }
    ViewData["Desciption"] = Model.Description;
    int id = 0;
    int sequence = 1;
    string scheme = Context.Request.Scheme;
    string host = Context.Request.Host.Host;
    string port = Context.Request.Host.Port.ToString();
    string path = Context.Request.Path;
    string url = string.Format("{0}://{1}:{2}{3}", scheme, host, port, path);
    int maxLengId = 6;
    DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel sidebar = ViewData["sidebar"] as DoVuiHaiNao.Models.SidebarViewModels.AllSidebarViewModel;
}
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Title</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <a asp-controller="Puzzle" asp-action="ListMultiPuzzle">Câu đố đặc biệt</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">@Model.Title</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="tabs-warp question-tab">
                <ul class="tabs">
                    @foreach (var item in Model.listSinglePuzzle)
            {
                        <li class="tab">
                            <a href="#" class="">Câu @sequence</a>
                        </li>
                        sequence++;
                    }
                </ul>


                @foreach (var item in Model.listSinglePuzzle)
                {
                    if (!item.IsAnswered)
                    {
                        ViewData["Display"] = "display: none";
                    }
                    else
                    {
                        ViewData["Display"] = "";
                    }

                    id = item.ID;
                    <div class="tab-inner-warp">
                        <div class="tab-inner">
                            <article class="question single-question question-type-poll">
                                <h2>
                                    <a href="#">@item.Title</a>
                                </h2>
                                <a class="question-report" href="#">Báo cáo</a>
                                <div class="question-type-main">
                                    <i class="icon-signal"></i>Trắc nghiệm
                                </div>
                                <div class="question-inner">
                                    <div class="clearfix"></div>
                                    <div class="question-desc">
                                        <div class="poll_2" style="text-align:justify">
                                            <p>@item.Description)</p>
                                            @if (item.ImageID != null)
                                            { 
                                                <img asp-append-version="true" src="@item.Image.PicFull" alt="@item.Image.ALT" title="@item.Image.Title" class="img-responsive" />
                                            }
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <form asp-controller="" asp-action="" method="post" class="form-style form-style-3" style="@ViewData["Display"]" id="all-answer_@id">
                                                        <div class="form-inputs clearfix">
                                                            @if (!String.IsNullOrEmpty(item.AnswerA))
                                                            {
                                                                <p>

                                                                    <input id="poll-1_@id" name="poll-radio" type="radio">
                                                                    <label for="poll-1">@item.AnswerA</label>

                                                                </p>}
                                                            @if (!String.IsNullOrEmpty(item.AnswerB))
                                                            {
                                                                <p>

                                                                    <input id="poll-2_@id" name="poll-radio" type="radio">
                                                                    <label for="poll-2">@item.AnswerB</label>

                                                                </p>}
                                                            @if (!String.IsNullOrEmpty(item.AnswerC))
                                                            {
                                                                <p>

                                                                    <input id="poll-3_@id" name="poll-radio" type="radio">
                                                                    <label for="poll-3">@item.AnswerC</label>

                                                                </p>}
                                                            @if (!String.IsNullOrEmpty(item.AnswerD))
                                                            {
                                                                <p>

                                                                    <input id="poll-4_@id" name="poll-radio" type="radio">
                                                                    <label for="poll-4">@item.AnswerD</label>

                                                                </p>}
                                                        </div>
                                                    </form>
                                                    @*<a href="#" style="display: none;" class="color button small poll_results margin_0">Xem đánh gía</a>*@
                                                    @if (signInManager.IsSignedIn(User))
                                                    {
                                                        if (!item.IsAnswered)
                                                        {
                                                            <button class="color button small margin_0 start" id="@id">Bắt đầu trả lời</button>
                                                            <button style="display:none" id="@id-submitAnswer" type="submit" class="submitAnswer color button small">Gửi</button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="color button small margin_0 signup">Xin vui lòng đăng nhập để trả lời bạn nhé</a>
                                                    }
                                                </div>
                                                <div class="col-md-3">
                                                    <div id="clock_@id" class="clock pull-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix height_20"></div>
                                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ornare, dolor a aliquet rutrum, dolor turpis condimentum leo, a semper lacus purus in felis. Quisque blandit posuere turpis, eget auctor felis pharetra eu .</p>*@
                                        @if (!item.IsAnswered)
                                        {
                                            <div class="alert-message error" id="error_@id" style="display:none">
                                                @if (!String.IsNullOrEmpty(item.Reason))
                                                {
                                                    <p>
                                                        <i class="icon-flag"></i>
                                                        <span>Bạn đã trả lời sai. Đáp án đúng câu @item.Correct</span>
                                                        <br>
                                                        Vì: @item.Reason
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        <span>Bạn đã trả lời sai. Đáp án đúng câu @item.Correct</span>
                                                        <br>
                                                    </p>
                                                }
                                            </div>
                                            <div class="alert-message success" id="success_@id" style="display:none">
                                                
                                                @if (!String.IsNullOrEmpty(item.Reason))
                                                {
                                                    <i class="icon-ok"></i>
                                                    <p>
                                                        <span>Chúc mừng bạn</span>
                                                        <br>
                                                        Vì: @item.Reason
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        <span>Chúc mừng bạn</span>
                                                        <br>
                                                    </p>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert-message success" id="success_@id">
                                                @*<i class="icon-ok"></i>*@
                                                @if (!String.IsNullOrEmpty(item.Reason))
                                                {
                                                    <i class="icon-ok"></i>
                                                    <p>
                                                        <span>Đáp án đúng câu @item.Correct</span>
                                                        <br>
                                                        Vì: @item.Reason
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        <span>Đáp án đúng câu @item.Correct</span>
                                                        <br />
                                                    </p>
                                                }
                                            </div>

                                        }
                                    </div>
                                    @*<div class="question-details">
                                        <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                                        <span class="question-favorite"><i class="icon-star"></i>5</span>
                                    </div>*@
                                    <span class="question-category"><a asp-action="listmultipuzzle" asp-controller="puzzle"><i class="icon-folder-close"></i>Câu đố đặc biệt</a></span>
                                    <span class="question-date"><i class="icon-time"></i>@item.DateTime</span>
                                    @*<span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>*@
                                    <span class="question-view"><i class="icon-user"></i>@item.Views lượt xem</span>
                                    <span class="single-question-vote-result" id="@id-vote-result">@item.Like</span>
                                    <ul class="single-question-vote">
                                        <li>
                                            <a href="#" class="single-question-vote-down" id="@id-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="single-question-vote-up" id="@id-vote-up" title="Like"><i class="icon-thumbs-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                            <div class="share-tags page-content">
                                <div class="question-tags">
                                    <i class="icon-tags"></i>
                                    @if (item.Tags.Any())
                                    {

                                        int current = 1;
                                        int end = item.Tags.Count();

                                        foreach (var itemDetail in item.Tags)
                                        {
                                            if (!String.IsNullOrEmpty(itemDetail.Tag.Slug))
                                            {
                                            <a asp-action="Single" asp-controller="Tag" asp-route-slug="@itemDetail.Tag.Slug">@itemDetail.Tag.Title</a>
                                                if (current != end)
                                                {
                                                    <i>, </i>
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="share-inside-warp">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=@url" original-title="Facebook">
                                                <span class="icon_i">
                                                    <span class="icon_square" icon_size="20" span_bg="#3b5997" span_hover="#666" style="height: 20px; width: 20px; font-size: 10px; line-height: 20px; background-color: rgb(59, 89, 151); border-style: solid;">
                                                        <i i_color="#FFF" class="social_icon-facebook" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=@url" target="_blank">Facebook</a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/home?status=@url" target="_blank">
                                                <span class="icon_i">
                                                    <span class="icon_square" icon_size="20" span_bg="#00baf0" span_hover="#666" style="height: 20px; width: 20px; font-size: 10px; line-height: 20px; background-color: rgb(0, 186, 240); border-style: solid;">
                                                        <i i_color="#FFF" class="social_icon-twitter" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a target="_blank" href="https://twitter.com/home?status=@url">Twitter</a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/share?url=@url" target="_blank">
                                                <span class="icon_i">
                                                    <span class="icon_square" icon_size="20" span_bg="#ca2c24" span_hover="#666" style="height: 20px; width: 20px; font-size: 10px; line-height: 20px; background-color: rgb(202, 44, 36); border-style: solid;">
                                                        <i i_color="#FFF" class="social_icon-gplus" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="https://plus.google.com/share?url=@url" target="_blank">Google plus</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="icon_i">
                                                    <span class="icon_square" icon_size="20" span_bg="#e64281" span_hover="#666" style="height: 20px; width: 20px; font-size: 10px; line-height: 20px; background-color: rgb(230, 66, 129); border-style: solid;">
                                                        <i i_color="#FFF" class="social_icon-dribbble" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="#" target="_blank">Dribbble</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#">
                                                <span class="icon_i">
                                                    <span class="icon_square" icon_size="20" span_bg="#c7151a" span_hover="#666" style="height: 20px; width: 20px; font-size: 10px; line-height: 20px; background-color: rgb(199, 21, 26); border-style: solid;">
                                                        <i i_color="#FFF" class="icon-pinterest" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="#" target="_blank">Pinterest</a>
                                        </li>
                                    </ul>
                                    <span class="share-inside-f-arrow"></span>
                                    <span class="share-inside-l-arrow"></span>
                                </div><!-- End share-inside-warp -->
                                <div class="share-inside">
                                    <i class="icon-share-alt"></i>Share
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            @*<div class="about-author clearfix">
                                    <div class="author-image">
                                        <a href="#" original-title="admin" class="tooltip-n"><img alt="" src="http://2code.info/demo/html/ask-me/images/demo/admin.jpeg"></a>
                                    </div>
                                    <div class="author-bio">
                                        <h4>About the Author</h4>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra auctor neque. Nullam lobortis, sapien vitae lobortis tristique.
                                    </div>
                                </div>*@<!-- End about-author -->
                            <!-- End Share-tags -->

                        </div>
                    </div>
                }
                <br />
                <div id="related-posts">
                    <h2>Câu đố liên quan</h2>
                    <ul class="related-posts">
                        @foreach (var itemDetail in Model.ListbestPuzzle)
                        {
                            <li class="related-item">
                                <h3>
                                    <a asp-action="SingleMultiPuzzle" asp-controller="Puzzle" asp-route-slug="@itemDetail.Slug"><i class="icon-double-angle-right"></i>@itemDetail.Title</a>
                                </h3>
                            </li>
                        }
                    </ul>
                </div>

                <!-- End related-posts -->
                <div class="fb-comments" data-width="100%" data-href="@string.Format("{0}",@url)" data-numposts="7"></div>
            </div>

        </div>
        <aside class="col-md-3 sidebar">
            @await Html.PartialAsync("_SidebarPartial", sidebar)
        </aside>
    </div>
</section>
@section Style {
    <link href="~/plugins/flipclock/compiled/flipclock.css" rel="stylesheet" />
}
@section Scripts {

    <script src="~/plugins/flipclock/compiled/flipclock.min.js"></script>

    <script type="text/javascript">
        var clock;
        $(document).ready(function () {
            $('.start').click(function (e) {
                var element = $(this);
                var isStop = false;
                var Id = element.attr("id");
                var tempClock = 'clock_' + Id;
                clock = $('#' + tempClock).FlipClock(30, {
                    clockFace: 'Counter',
                    countdown: true,
                    autoStart: true,
                    callbacks: {
                        start: function () {
                            var allAnswer = 'all-answer_' + Id;
                            $('.message').html('The clock has started!');

                            $('#' + allAnswer).css("display", "block");
                            $('#' + Id + '-submitAnswer').css("display", "block");
                            element.css("display", "none");
                        },
                        stop: function () {
                            if (!isStop)
                            {
                                isStop = true;
                                element.css("display", "none");
                                //$('.poll_results').css("display", "block");
                                e.preventDefault();
                                var tempAnswerA = 'poll-1_' + Id;
                                AnswerA = $('#' + tempAnswerA + ':checked').val();
                                var tempAnswerB = 'poll-2_' + Id;
                                AnswerB = $('#' + tempAnswerB + ':checked').val();
                                var tempAnswerC = 'poll-3_' + Id;
                                AnswerC = $('#' + tempAnswerC + ':checked').val();
                                var tempAnswerD = 'poll-4_' + Id;
                                AnswerD = $('#' + tempAnswerD + ':checked').val();
                                Select = 0;
                                if (AnswerA == "on")
                                    Select = 0;
                                else if (AnswerB == "on")
                                    Select = 1;
                                else if (AnswerC == "on")
                                    Select = 2;
                                else if (AnswerD == "on")
                                    Select = 3;
                                else
                                    Select = 4;

                                $.ajax({
                                    type: "POST",
                                    url: "@(Url.Action("checkAnswerMulti", "Puzzle"))",
                                    data: {
                                        select: Select, id: Id
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        clock.stop();
                                        var success = 'success_' + Id;
                                        var error = 'error_' + Id;
                                        if (data == true) {
                                            $('#' + success).css("display", "block");
                                            $('#' + error).css("display", "none");
                                        }
                                        else {
                                            $('#' + success).css("display", "none");
                                            $('#' + error).css("display", "block");
                                        }
                                        $('#' + Id +'-submitAnswer').css("display", "none");
                                    },
                                    error: function (data) {
                                    }
                                });
                                
                            }
                        }
                    }
                });
            });
        });


            $('.single-question-vote-down').click(function (e) {
                e.preventDefault();
                var element = $(this);
                var tempId = element.attr("id");
                var lengId = @maxLengId;
                var Id = tempId.substr(0, lengId);
                while (!$.isNumeric(Id) && lengId > 0) {
                    lengId--;
                    Id = tempId.substr(0, lengId);
                }
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("VoteDownMulti", "Puzzle"))",
                    data: {
                        id: Id
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data == true) {
                            likeCurrent = $('#' + Id + '-vote-result').html();
                            likeCurrent--;
                            $('#' + Id + '-vote-result').html(likeCurrent);
                        }
                    },
                    error: function (data) {
                    }
                });
            });
            $('.single-question-vote-up').click(function (e) {
                e.preventDefault();
                var element = $(this);
                var tempId = element.attr("id");
                var lengId = @maxLengId;
                var Id = tempId.substr(0, lengId);
                while (!$.isNumeric(Id) && lengId > 0) {
                    lengId--;
                    Id = tempId.substr(0, lengId);
                }
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("VoteUpMulti", "Puzzle"))",
                    data: {
                        id: Id
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data == true) {
                            likeCurrent = $('#' + Id + '-vote-result').html();
                            likeCurrent++;
                            $('#' + Id + '-vote-result').html(likeCurrent);
                        }
                    },
                    error: function (data) {
                    }
                });
            });

            $(".submitAnswer").click(function (e) { // changed.
                e.preventDefault();
                var element = $(this);
                var tempId = element.attr("id");
                var lengId = @maxLengId;
                var Id = tempId.substr(0, lengId);
                while (!$.isNumeric(Id) && lengId > 0) {
                    lengId--;
                    Id = tempId.substr(0, lengId);
                }
                var tempAnswerA = 'poll-1_' + Id;
                AnswerA = $('#' + tempAnswerA + ':checked').val();
                var tempAnswerB = 'poll-2_' + Id;
                AnswerB = $('#' + tempAnswerB + ':checked').val();
                var tempAnswerC = 'poll-3_' + Id;
                AnswerC = $('#' + tempAnswerC + ':checked').val();
                var tempAnswerD = 'poll-4_' + Id;
                AnswerD = $('#' + tempAnswerD + ':checked').val();
                Select = 0;
                if (AnswerA == "on")
                    Select = 0;
                else if (AnswerB == "on")
                    Select = 1;
                else if (AnswerC == "on")
                    Select = 2;
                else if (AnswerD == "on")
                    Select = 3;
                else
                    Select = 3;

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("checkAnswerMulti", "Puzzle"))",
                    data: {
                        select: Select, id: Id
                    },
                    dataType: "json",
                    success: function (data) {
                        clock.stop();
                        var success = 'success_' + Id;
                        var error = 'error_' + Id;
                        if (data == true) {
                            $('#' + success).css("display", "block");
                            $('#' + error).css("display", "none");
                        }
                        else {
                            $('#' + success).css("display", "none");
                            $('#' + error).css("display", "block");
                        }
                        element.css("display", "none");

                    },
                    error: function (data) {
                    }
                });
            });

    </script>
}
@*<div class="clock" style="margin:2em;"></div>
    <div class="message"></div>
    <button class="start">Start Clock</button>*@
