@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<Member> SignInManager
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="panel-pop" id="signup" style="text-align:center">
    <h2>Đăng nhập<i class="icon-remove"></i></h2>
    <div class="form-style form-style-3">
        @{

            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        @foreach (var provider in loginProviders)
                        {

                            if (provider.DisplayName == "Facebook")
                            {
                                <p>
                                    <button type="submit" class="button small blue-button" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i> Đăng nhập với @provider.AuthenticationScheme</button>
                                </p>
                            }
                            else
                            {
                                <p>
                                    <button type="submit" class="btn btn-block btn-social btn-google btn-flat" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus"></i> Đăng nhập với @provider.AuthenticationScheme</button>
                                </p>
                            }
                        }
</form>
            }
        }
    </div>
</div><!-- End signup -->

<div class="panel-pop" id="lost-password">
    <h2>Lost Password<i class="icon-remove"></i></h2>
    <div class="form-style form-style-3">
        <p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
        <form>
            <div class="form-inputs clearfix">
                <p>
                    <label class="required">Username<span>*</span></label>
                    <input type="text">
                </p>
                <p>
                    <label class="required">E-Mail<span>*</span></label>
                    <input type="email">
                </p>
            </div>
            <p class="form-submit">
                <input type="submit" value="Reset" class="button color small submit">
            </p>
        </form>
        <div class="clearfix"></div>
    </div>
</div><!-- End lost-password -->
